.dockerignore
node_modules/
npm-debug.log
Dockerfile
.git
.gitignore
.npmrc
.eslintignore
.eslintrc.cjs
.env
.env.local
.env.example
.idea
.vscode
readme*.md
*.http

!/temp
!/public/avatars
**/.DS_Store
**/Thumbs.db
**/.gitkeep
temp/*
public/avatars/*
